*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;

}


.contenedorfooter{


    background-color: #ffff;
    display: flex;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    
}


.cabecera nav{

    display: flex;
    background-color: #ffff;
    width: 100%;
    height: 40px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    
    

    
 
    
    
}

.enlance{

    text-decoration: none;
    color:#000;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.informacion{

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;

}

.imagen{
    width: 200px;
    height: 30px;
}
.galeria{

    margin: 30px auto;
    width: 80%;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


}

body{
    background-color: #1687a7 ;
}

.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
    color: white;
}