
*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;

}


.contenedorfooter{


    background-color: #ffff;
    display: flex;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    
}
    






.cabecera nav{

    display: flex;
    background-color: #ffff;
    width: 100%;
    height: 40px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    
    

    
 
    
    
}



.contenedor{
    display: flex;

    float: right;
    width: 400px;
    height: 400px;
    margin-right: 25px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    
    
}
.enlance{

    text-decoration: none;
    color:#000;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.enlance:hover{

    background-color: #1687a7 ;
    color:#fff;

}

body{
    background-image: url("fondo.jpg");
}
 
.img{

    display: inline-block;
    justify-content: end;
    border-radius: 50%;
}

.contendor2{

    display: flex;
    width: 400px;
    height: 400px;
    margin-top: 70px;
    float: left;
    margin-left: 50px;
    padding: 10px;


}


.contenido{

    color: #ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.titulo{

    color: #ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;

}

.parrafo{
    margin-top: 20px ;
    margin-bottom: 50px;
}

.button{

    color: #fff;
    background-color: #387c6d;
    padding: 20px ;
    text-decoration: none;
    margin-top: 25px;
}
.informacion{

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;

}
.imagen{
    width: 200px;
    height: 30px;
}
