*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;

}
.cabecera nav{

    display: flex;
    
  
    background-color: #ffff;
    width: 100%;
    height: 40px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
   
    
    
   
    
}
body{
    background-color: #1687a7;
}

.enlance{

    text-decoration: none;
    color:#000;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.enlance:hover{

    background-color: #1687a7 ;
    color:#fff;

}

.imagen{
    width: 200px;
    height: 30px;
}



.contenedorfooter{


    background-color: #ffff;
    display: flex;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
}

.informacion{

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;

}


.historia{


    margin: 40px  50px  60px 70px;
   
    padding: 15px;
    display: flex;
    flex-direction: column;
    

    
}

.titulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.Encabezado{


    
    display: flex;  
    justify-content: center; 

    margin: 0 auto;

    width: 400px;
    
    margin-top: 30px;
    
    
}
.ehistoria{


    
    margin-bottom: 25px;
    width: 100%;
    padding: 30px;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: justify;
}


h2{
    
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    margin-top: 30px;

}
.img{
    
    display: block;
    margin: 20px auto;
    border: solid 2px black ;
    
}
.referencias{

    text-align: center;
    text-decoration: none;
}
