*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;

}
.cabecera nav{

    display: flex;
    
  
    background-color: #ffff;
    width: 100%;
    height: 40px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
   
    
    
   
    
}
body{
    background-color: #f9fbfc;
}

.enlance{

    text-decoration: none;
    color:#000;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.enlance:hover{

    background-color: #1687a7 ;
    color:#fff;

}

.imagen{
    width: 200px;
    height: 30px;
}



.contenedorfooter{


    background-color: #ffff;
    display: flex;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
}

.informacion{

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;

}

.parrafos{


	background: rgb(42, 130, 165);
	color:  white;
	padding: 70px;

	width: 600px;

	margin-right: 30px;
	
    margin-bottom: 25px;

	






}

.parrafos2{


	
	
	padding: 70px;

	width: 600px;

	margin-right: 30px;
	
    margin-bottom: 25px;

	






}

.sector{


	display: flex;
	justify-content: space-around;
	margin-left: 25px;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

.poo{
    margin: 0 auto;
    margin-bottom: 100px;

    margin-top: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    

}

.img{
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
}

.titulo{

    text-align: center;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

.parrafos3{


	
	
	padding: 80px;

	width: 400px;

	margin-right: 30px;
	
    margin-bottom: 25px;

    background-color: #28527a;
    color: white;
	






}





